<app-menu></app-menu>
<router-outlet></router-outlet>

<!-- <footer class="bg-dark text-light"> -->
   <div class="row ftr text-light ">
     
      <div class="col-sm-3 pt-3 p-5">
        <img src="assets/home-logo.png" alt=""
  class="img-fluid"
    >
      </div>
      <div class=" offset-sm-1  col-sm-4 text-left pt-5 vertical-divider mt-5 ">
        
        
        <!-- <i class="fa fa-facebook mt-3"></i> -->
         
        
        Enactus USS,GGSIPU
        <br/>
        <i class="fa fa-map-marker mt-3"></i> Dwarka Sector-16C,
       
         Delhi, India - 110075<br/>
      </div>

      <div class="col-sm-4 text-left py-5 my-5 px-5">
         Aakash Vashistha
        <br/>
        <i class="fa fa-envelope mt-3"></i> Aakashvashistha6@gmail.com
        <br/>
        <i class="fa fa-github mt-3"></i> <a href="https://github.com/Aksh1002/">Github</a><br/>
       
       
        
        
      </div>
    </div>


    


<!-- </footer> -->
 
