.row img{
	position: relative;
	background-repeat: no-repeat;
	width: 100%;
	
}

.caption{
	background-color: #fec222;
	padding-bottom: 0;
}



.ftr img{
	position: relative;
	/*height:20%;
	width: 100%;*/
	
}
